body{
    font-size: 12px;
}
@media(min-width: 320px) {
    html {
        font-size:100px
    }
}

@media(min-width: 360px) {
    html {
        font-size:112.5px
    }
    .contactbox{
        margin-top: 1rem;
    }

}

@media(min-width: 400px) {
    html {
        font-size:125px
    }
    .contactbox{
        margin-top: 1.4rem;
    }
}
